<ion-view view-title="Jadwal">
	<ion-content>
		<ion-refresher
			pulling-text="Pull to refresh..."
			on-refresh="getJadwal()">
		</ion-refresher>
		<div class="list list-inset">
			<label class="item item-input">
				<i class="icon ion-search placeholder-icon"></i>
				<input type="text" placeholder="Search" ng-model="search">
			</label>
		</div>
		<ion-list>
			<ion-item>
			<div class="list list-inset" ng-repeat="jadwal in model|filter : search">
				<div class="item item-balanced">
					{{jadwal.matakuliah}}
				</div>
					<div class="item item-body">
						<p>
						<a href="#" class="subdued">{{jadwal.hari}}</a>
						<a href="#" class="subdued">Jam : {{jadwal.jam_masuk}}</a>
						<a href="#" class="subdued">{{jadwal.ruang}}</a>
						</p>
					</div>
				</div>
			</ion-item>
		</ion-list>
	</ion-content>
</ion-view>

