<ion-view view-title="Materi">
	<ion-content>
		<ion-refresher
			pulling-text="Pull to refresh..."
			on-refresh="getMateri()">
		</ion-refresher>
		<div class="list list-inset">
			<label class="item item-input">
				<i class="icon ion-search placeholder-icon"></i>
				<input type="text" placeholder="Search" ng-model="search">
			</label>
		</div>
		<ion-list>
			<ion-item ng-repeat="materi in materis|filter : search" >
				<div class="list card">
					<div class="item item-avatar">
						<img src="img/no-user-profile.jpg">
						<h2>{{materi.dosen}}</h2>
						<p>{{materi.matakuliah}}</p>
					</div>

					<div class="item item-body">
						<p>
							{{materi.nama_materi}}
						</p>
						<p>
						<button class="button button-calm" ng-click="Download(materi.filename)">Download</button>
						</p>
					</div>
				</div>
			</ion-item>
		</ion-list>
	</ion-content>
</ion-view>
